* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}
body {
    background-image: url(../img/background-todo.jpg);
    background-position: center;
    background-size: cover;
}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
button:hover {
    background-color: rgb(194, 169, 152);
}
button:hover > i {
    color:rgb(0, 0, 0);
}
button i {
    color: rgb(206, 172, 149);
    font-weight: bold;
    pointer-events: none;
}
input,select {
    padding: 0.25rem 0.5rem;
}
.hide {
    display: none;
}
/* ToDo header */
.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: 15px;
}
.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}

/* ToDo form */
#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}
#todo-form p, #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.form-control {
    display: flex;
}
.form-control input {
    margin-right: 0.3rem;
}
#cancel-edit-btn {
    margin-top: 1rem;
}
/* ToDo toolbar */
#toolbar {
    padding: 1rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.507);
    display: flex;
}
#toolbar h4 {
    margin-bottom: .5rem;
}
#search {
    border-right: 1px solid rgba(0, 0, 0, 0.507);
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}
#search form {
    display: flex;
}
#search input {
    width: 100%;
    margin-right: 0.3rem;
}
#filter {
 width: 35%;
 display: flex;
 flex-direction: column;
}
#filter select {
    flex: 1;
}
/* ToDo list */
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
    transition: .3s;
}
.todo h3 {
    flex:1;
    font-size: 0.9rem;
}
.todo button {
    margin-left: 0.4rem;
}
.done {
    background-color: rgba(124, 102, 82, 0.89);
}
.done h3 {
    color: aliceblue;
    text-decoration: line-through;
    font-style: italic;
}